.footer{
   
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: $colorSecundario;
    h5{
        text-align: center;
    }
    .imgRedes{
        display: flex;
        flex-direction: row;
        justify-content: end;
                
              
    }
}