.contenedor{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px auto auto;
    grid-template-areas: "header header header"
                          "navbar navbar navbar"
                          "main main main "
                          "aside aside aside "
                          "footer footer footer";
}
.header{
    display: flex;
    flex-direction: column;
    grid-area: header ;
    
    img{
        width: 100%;
        height: 160px;
    
    }

    h1{ 
  
        color: white ;
        text-align: center;
        font-size: 45px;
        background-color: $colorPrimario;
        font-family: "Lobster";
    }
    
}
.navbar{
     
   
    grid-area: navbar;
    background-color: rgb(255, 255, 255);
    
    
   
}

.main{
    display: flex;
    flex-direction: column;
    grid-area: main;
    align-items: center; 
    justify-content: space-between;  

}
.tarjeta1 {
 
    
    background-color: $colorSecundario;
    border-style: solid;
    border-color: white;
   
    border-radius: 8px;
    transition: all 1s;
    img{
        margin: 10px 15px 5px 30px;
    
        width: 45%;
    }
    h5{

    
        font-size: 15px;
        color:rgb(0, 0, 0);
        margin:15px 15px 15px 40px;
        padding: 0px 0px 15px 15px;
        
    }
  }
.aside{
    display: flex;
    flex-direction: column;
    grid-area: aside;
    align-items: center; 
    justify-content: space-between;  

}
.tarjeta2{
    

    background-color: $colorSecundario;
   
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 8px;
    transition: all 1s;
    img{
        margin: 10px 15px 5px 30px;
    
        width: 45%;
    }
    h5{

        font-size: 15px;
       
        color:rgb(0, 0, 0);
        margin:15px 15px 15px 40px;
        padding: 0px 0px 5px 15px;
    }
    
}

.tamanioTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
